@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
    display: inline-block;
}

.btn {
    background-color: #E02C6D;
    padding: 10px 26px;
    border-radius: 41px;
    color: #fff;
    margin-top: 5px;
}

.btn2 {
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #fff;
}

.fa-right-long {
    font-size: 24px;
    position: relative;
    top: 4px;
    left: 3px;
}

/* common css */
/* nav part css start */
.nav_main {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;

}

.nav_right li a {
    padding: 0 15px;
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}

.nav_right li a i.fa-magnifying-glass {
    font-size: 20px;
}

.nav_right li a i.fa-cart-shopping {
    font-size: 22px;
}

/* nav part css end */
/* banner part css start */
.banner_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b_l_text h1 {
    font-size: 52px;
    font-weight: 700;
}

.b_l_text p {
    margin: 16px 0 24px;
}

.banner_left {
    width: 50%;
}

.banner_right {
    background-image: url(../images/Circle_design.svg);
    height: 475px;
    width: 475px;
}

.banner_right img {
    width: 100%;
}

.banner_bottom {
    display: flex;
    justify-content: space-evenly;
    margin: 100px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
}

.bottom_inner img {
    width: 100%;
}

/* banner part css end */
/* popular part css start */
.top_popular h2.popular_title {
    text-align: center;
    margin-bottom: 30px;
}

.populer_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 0 30px;
}

.top_popular h4.end {
    text-align: right;
    padding-right: 50px;
    margin-top: 20px;

}

.top_popular h4.end a {
    color: #E02C6D;
}

.popular_main_inner {
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 17px 14px;
}

.popular_thamnail img {
    width: 100%;
}

/* feature last style */
.feature_product {
    margin: 100px 0;
}

.feature_product_main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.feature_product_right {
    width: 47%;
}

.feature_product_right p {
    margin: 20px 0;
}

footer {
    background-color: #0A0826;
    height: 239px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_text {
    text-align: center;
    color: #fff;
}

/* popular part css end */
/* responsive design */
/* mobile device */
@media only screen and (max-width: 360px) {
    .container {
        width: 100%;

    }

    .banner_main {

        flex-direction: column-reverse;
    }

    .banner_left {
        width: 100%;
        text-align: center;
    }

    .banner_right {
        background-image: url(../images/Circle_design.svg);
        height: 475px;
        width: 100%;
        margin: 0% auto;

    }

    .banner_right img {
        width: 68%;
        position: relative;
        top: 95px;
        left: 81px;
    }

    .banner_bottom {
        flex-wrap: wrap;
        justify-content: end;
    }

    .bottom_inner img {
        width: 70%;
    }

    .populer_main {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature_product_main {
        flex-direction: column-reverse;
    }

    .feature_product_right {
        width: 100%;
        text-align: center;
        padding: 0 16px;
    }

    .feature_product_left {
        margin-top: 52px;
        margin-bottom: -47px;
        padding: 0 16px;
    }

    .feature_product_left img {
        width: 100%;
    }
}